// Variables de breakpoints Bootstrap
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

.container {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: 0px) {
      .col-xs-12 {
        width: 100%;
      }
    }

    @media (min-width: $breakpoint-sm) {
      @for $i from 1 through 12 {
        .col-sm-#{$i}{
          width: ($i/12.0)*100%
          ;
        }
      }
    }

    
  }
}
